# Go cache directory
.cache/

# Build directory
build/

# Text executables
*.test

# Coverage files
coverage.out
coverage.html

# Profile test files
profile-*.out

# Sublime Text project files
*.sublime-*
